<?xml version="1.0"?>

<launch>
    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="true"/>
    <arg name="controller"  default="mpc" doc="opt: dwa, mpc, pure_pursuit"/>

    <!--  ************** Map Server **************  -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find mpc_racecar)/launch/Simulation/maps/maze.yaml" output="screen">
        <param name="frame_id" value="/map"/>
    </node>


    <!--  ************** Stage Simulator ***************  -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find mpc_racecar)/launch/Simulation/stage/maze_carlike.world">
        <remap from="base_scan" to="scan"/>
    </node>


    <!--  ************** Localization **************  -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find mpc_racecar)/launch/Simulation/params/amcl_params.yaml" command="load" />
        <param name="initial_pose_x"            value="1"/>
        <param name="initial_pose_y"            value="1"/>
        <param name="initial_pose_a"            value="0"/>
    </node>


    <!-- ********************** -->
    <!-- Navigation (move_base) -->
    <!-- ********************** -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find mpc_racecar)/launch/Simulation/params/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mpc_racecar)/launch/Simulation/params/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mpc_racecar)/launch/Simulation/params/carlike/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find mpc_racecar)/launch/Simulation/params/carlike/global_costmap_params.yaml" command="load" />
        <!-- Global Planner -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="0.0" />
        <param name="planner_patience" value="5.0" />
        <rosparam file="$(find mpc_racecar)/params/global_planner.yaml" command="load" />
        <!-- Local Planner -->
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
        <!-- Our carlike robot is not able to rotate in place -->
        <param name="clearing_rotation_allowed" value="false" /> 
        <!-- external controller -->
        <remap from="/cmd_vel" to="/fake_cmd" />
    </node>

    <!--  ************** Visualisation **************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_racecar)/launch/Simulation/params/rviz_navigation.rviz"/>

</launch>
